{% extends 'base.html.twig' %}

{% block title %}Morent | Inbox
{% endblock %}

{% block body %}
	{% include 'navbar.html.twig' %}


	<div class="admin">
		{% include "admin_sidebar.html.twig" %}
		<div class="app">
			<div class="container-fluid">
				{{ form_start(form) }}
				<div class="row">
					<div class="col-lg-6 mb-3">
						{{ form_label(form.firstName) }}
						{{ form_widget(form.firstName) }}
					</div>
					<div class="col-lg-6 mb-3">
						{{ form_label(form.lastName) }}
						{{ form_widget(form.lastName) }}
					</div>
					<div class="col-lg-6 mb-3">
						{{ form_label(form.email) }}
						{{ form_widget(form.email) }}
					</div>
					<div class="col-lg-6 mb-3">
						{{ form_label(form.password) }}
						{{ form_widget(form.password) }}
					</div>
					<div class="col-lg-6 mb-3">
						{{ form_widget(form.save) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>
			
		</div>
	</div>


{% endblock %}

