{% extends 'base.html.twig' %}

{% block title %}Morent | Home{% endblock %}

{% block body %}

{% include "navbar.html.twig" %}

<div class="hero">
	<div class="container">
	
		<div class="row">

			<div class="col-lg-6">
				<div class="hero-card left">
					<h5>The best platform <br/> for Car Rental</h5>
					<p>Ease of doing car rental safely and <br/> reliably. Of course at low price.</p>
					<button>Rental Car</button>
					<img src="/images/car1.png" alt="image1" width={406} height={116}/>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="hero-card right">
					<h5>Easy way to rent a <br/> car at a low price</h5>
					<p>Providing cheap car rental services <br/> and safe and comfortable facilities.</p>
					<button>Rental Car</button>
					<img src="/images/car2.png" alt="image2" width={340} height={108}/>
				</div>
			</div>

		</div>

	</div>

</div>




<div class="reservation d-flex">
	<div class="container">
		<div class="d-flex justify-content-between">

			{# <div class="col-lg-5"> #}
				<div class="pick-up">
					<div class="title">Pick - Up</div>
					<div class="info">
						<div class="locations">
							<h5>Locations</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your city</option>
							</select>
						</div>
						<div class="date">
							<h5>Date</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your date</option>
							</select>
						</div>
						<div class="time">
							<h5>Time</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your time</option>
							</select>
						</div>
					</div>
				</div>
			{# </div> #}


			<div class="col-lg-1 d-flex align-items-center justify-content-center">
				<button class="change-btn d-flex">
					<i class="fi fi-sr-exchange"></i>
				</button>
			</div>


			{# <div class="col-lg-5"> #}
				<div class="drop-off">
					<div class="title">Drop - Off</div>
					<div class="info">
						<div class="locations">
							<h5>Locations</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your city</option>
							</select>
						</div>
						<div class="date">
							<h5>Date</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your date</option>
							</select>
						</div>
						<div class="time">
							<h5>Time</h5>
							<select name="" id="" class="form-select">
								<option value="">Select your time</option>
							</select>
						</div>
					</div>
				</div>
			{# </div> #}
			
		</div>		
		




	</div>

</div>





<div class="popular-cars">
	<div class="container">
		<div class="title d-flex justify-content-between">
			<h3>Popular Car</h3>
			<a href="{{path("app_cars")}}">View All</a>
		</div>
		
		<div class="cars">
			
			
			<div class="row">

				{% for car in popularCars %}
				<div class="col-lg-3">
					<div class="car">
						<div class="car-name d-flex justify-content-between">
							<div class="name">
								<h3>{{car.name}} </h3>
								<span>{{car.type}}</span>
							</div>
							<div class="favorite">
								<i class="fi fi-rs-heart"></i>
							</div>
							<input type="hidden" name="car_id" value={{car.id}}>
						</div>
						<div class="car-img">
							<img src="{{car.img}}" alt="{{car.name}} car image."/>
						</div>
						<div class="options d-flex justify-content-between">
							<div class="litres"><i class="fi fi-tr-gas-pump"></i> {{car.gasoline}}L</div>
							<div class="gear"><i class="fi fi-ts-tire"></i> {{car.steering}}</div>
							<div class="seats"><i class="fi fi-tr-seat-airline"></i>{{car.capacity}} People</div>
						</div>
						<div class="rent-price d-flex align-items-center justify-content-between">
							<div class="price">${{car.price}}.00/
								<span>day</span>
							</div>
							<div class="rent-btn">
								<a href="/car/{{car.id}}">Rent Now</a>
							</div>
						</div>
					</div>
				</div>

				{% endfor %}
		
		
			</div>
		
		</div>

	</div>
</div>


<div class="recommandation-car">
	<div class="container">
	<div class="title">
		<h3>Recommandation Car</h3>
	</div>
	<div class="cars">
	<div class="row">
	{% for car in recommandationCars %}
			<div class="col-lg-3">
					<div class="car">
						<div class="car-name d-flex justify-content-between">
							<div class="name">
								<h3>{{car.name}}</h3>
								<span>{{car.type}}</span>
							</div>
							<div class="favorite">
								<i class="fi fi-rs-heart"></i>
							</div>
							<input type="hidden" name="car_id" value={{car.id}}>
						</div>
						<div class="car-img">
							<img src="{{car.img}}" alt=""/>
						</div>
						<div class="options d-flex justify-content-between">
							<div class="litres"><i class="fi fi-tr-gas-pump"></i>{{car.gasoline}}L</div>
							<div class="gear"><i class="fi fi-ts-tire"></i> {{car.steering}}</div>
							<div class="seats"><i class="fi fi-tr-seat-airline"></i>{{car.capacity}} People</div>
						</div>
						<div class="rent-price d-flex align-items-center justify-content-between">
							<div class="price">${{car.price}}.00/
								<span>day</span>
							</div>
							<div class="rent-btn">
								<a href="/car/{{car.id}}">Rent Now</a>
							</div>
						</div>
					</div>
				</div>
	{% endfor %}
	</div>
</div>
	<button class="d-flex show-more">Show more car</button>

</div>
</div>

{% include 'footer.html.twig' %}
<script>

let favoriteCar = document.querySelectorAll(".cars .car .favorite i");

favoriteCar.forEach(function(car){
	car.addEventListener("click", function(){
		let carId = this.parentNode.nextElementSibling.value;
		if(this.classList.contains("active")){
			this.classList.add("fi-rr-heart");
			this.classList.remove("fi-ss-heart");
			this.classList.remove("active");
			fetch("/favorite", {
					method: "DELETE",
					headers: {
							"Content-Type": "application/json",
					},
					body:JSON.stringify({id : carId})
			})
			.then((response) => {
					if (!response.ok) {
							throw new Error("Network response was not ok");
					}
					return response.text();
			});
		}
		else{
			this.classList.remove("fi-rr-heart");
			this.classList.add("fi-ss-heart");
			this.classList.add("active");

			fetch("/favorite", {
					method: "POST",
					headers: {
							"Content-Type": "application/json",
					},
					body:JSON.stringify({id : carId})
			})
			.then((response) => {
					if (!response.ok) {
							throw new Error("Network response was not ok");
					}
					return response.text();
			});
		}

	});
});
</script>
{% endblock %}

