{% extends 'base.html.twig' %}

{% block title %}Morent | Settings
{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}

	<div class="container">
		{{ form_start(form) }}
				<div class="mb-3">
					{{ form_widget(form.email) }}
				</div>
				<div class="mb-3">
					{{ form_widget(form.password) }}
				</div>
				<div class="mb-3">
					{{ form_widget(form.save) }}
				</div>

		{{ form_end(form) }}
	</div>

{% include 'footer.html.twig' %}


{% endblock %}

