{% extends 'base.html.twig' %}

{% block title %}Morent | Car details{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="car-details">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <div class="car-images">
                        <div class="main-img">
                            <img src="{{car.img}}" alt=""/>
                        </div>
                        <div class="thumbnails">
                            {% if car.otherImg|length > 3 %}
                                <div class="left-button">
                                    <i class="fi fi-rr-angle-left"></i>
                                </div>
                                <div class="right-button">
                                    <i class="fi fi-rr-angle-right"></i>
                                </div>
                            {% endif %}
                            
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="thumbnail-container active">
                                        <img src="{{car.img}}" alt="">
                                    </div>
                                </div>
                                {% for img in car.otherImg %}
                                <div class="col-lg-4">
                                    <div class="thumbnail-container">
                                        <img src="{{img}}" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="car-description">
                        <div class="car-name d-flex justify-content-between">
                            <h3>{{car.name}}</h3>
                            <div class="favorite">
                                {% if isFav %}
                                    <i class="fi fi-sr-heart active"></i>
                                {% else %}
                                    <i class="fi fi-rr-heart"></i>
                                {% endif %}
                            </div>
                            <input type="hidden" name="car_id" value="{{ car.id }}" id="carid">
                        </div>
                        <div class="desc">
                            <p>{{car.description}}</p>
                        </div>
                        <div class="options">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="option d-flex justify-content-between">
                                        <h3>Type Car</h3>
                                        <span>{{car.type}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="option d-flex justify-content-between">
                                        <h3>Capacity</h3>
                                        <span>{{car.capacity}} Person</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="option d-flex justify-content-between">
                                        <h3>Steering</h3>
                                        <span>{{car.steering}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="option d-flex justify-content-between">
                                        <h3>Gasoline</h3>
                                        <span>{{car.gasoline}}L</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="option d-flex justify-content-between align-items-center">
                                        <h3>Days</h3>
                                        {{ form_start(form) }}
                                            {{ form_row(form.days) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price d-flex justify-content-between">
                            <div class="price-day">
                                <h3>${{car.price}}.00/<span>day</span></h3>
                                <p class="old-price">$100.00</p>
                            </div>
                            {# <a href="/checkout/{{car.id}}">Rent Now</a> #}
                            {{ form_row(form.proceedToCheckOut) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="reviews">
                <h3>Reviews
                    <span>{{reviews|length}}</span>
                </h3>
                <div class="items">
                    {% if reviews|length > 0 %}
                        {% for review in reviews %}
                            <div class="review-item">
                                <div class="row">
                                    <div class="col-lg-1">
                                        <div class="reviewer-img">
                                            <img src="/images/avatar.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="d-flex">
                                            <div class="reviewer-name">
                                                <h3>{{review.fullname|capitalize}}</h3>
                                            </div>
                                        </div>
                                        <div class="review-description">
                                            <p>{{review.review}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="review-date">
                                            <p>{{review.date|date("d M y")}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>No reviews for this car.</p>
                    {% endif %}

                </div>
            </div>

            <div class="add-review">
                <h3>Add review</h3>
                <form method="POST" class="form-review">
                    <div class="mb-3">
                        <input type="text" id="fullname" class="form-control" placeholder="Full name">
                    </div>
                    <div class="mb-3">
                        <textarea id="review" class="form-control" placeholder="Your review"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" id="form-submit">Submit</button>
                    </div>
                </form>
            </div>

            
        </div>
    </div>

    <div class="recent-cars">
        <div class="container">
            <div class="title d-flex justify-content-between">
                <h3>Recent Car</h3>
                <a href="{{path("app_cars")}}">View All</a>
            </div>
            
            <div class="cars">
                
                
                <div class="row">
                    {% for car in recentCars %}
                    <div class="col-lg-3">
                        <div class="car">
                            <div class="car-name d-flex justify-content-between">
                                <div class="name">
                                    <h3>{{car.name}}</h3>
                                    <span>{{car.type}}</span>
                                </div>
                                <div class="favorite">
                                    <i class="fi fi-rs-heart"></i>
                                </div>
                                <input type="hidden" name="car_id" value={{car.id}}>
                            </div>
                            <div class="group">
                                <div class="car-img">
                                    <img src={{car.img}} alt=""/>
                                </div>
                                <div class="options d-flex">
                                    <div class="litres"><i class="fi fi-tr-gas-pump"></i> {{car.gasoline}}L</div>
                                    <div class="gear"><i class="fi fi-ts-tire"></i> {{car.steering}}</div>
                                    <div class="seats"><i class="fi fi-tr-seat-airline"></i>{{car.capacity}}</div>
                                </div>
                            </div>
                            
                            <div class="rent-price d-flex align-items-center justify-content-between">
                                <div class="price">${{car.price}}.00/
                                    <span>day</span>
                                </div>
                                <div class="rent-btn">
                                    <a href="/car/{{car.id}}">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
            
            
                </div>
            
            </div>

        </div>
    </div>        



<div class="recommandation-cars">
	<div class="container">
		<div class="title d-flex justify-content-between">
			<h3>Recommandation Car</h3>
			<a href="{{path("app_cars")}}">View All</a>
		</div>

		<div class="cars">


			<div class="row">
				{% for car in recommandationCars %}
					<div class="col-lg-3">
						<div class="car">
							<div class="car-name d-flex justify-content-between">
								<div class="name">
									<h3>{{car.name}}</h3>
									<span>{{car.type}}</span>
								</div>
								<div class="favorite">
									<i class="fi fi-rs-heart"></i>
								</div>
                                <input type="hidden" name="car_id" value={{car.id}}>
							</div>
							<div class="car-img">
								<img src={{car.img}} alt=""/>
							</div>
							<div class="options d-flex justify-content-between">
								<div class="litres">
									<i class="fi fi-tr-gas-pump"></i>{{car.gasoline}}L</div>
								<div class="gear">
									<i class="fi fi-ts-tire"></i>{{car.steering}}</div>
								<div class="seats">
									<i class="fi fi-tr-seat-airline"></i>{{car.capacity}}</div>
							</div>
							<div class="rent-price d-flex align-items-center justify-content-between">
								<div class="price">${{car.price}}.00/
									<span>day</span>
								</div>
								<div class="rent-btn">
									<a href="/car/{{car.id}}">Rent Now</a>
								</div>
							</div>
						</div>
					</div>

				{% endfor %}


			</div>

		</div>

	</div>
</div>


    {% include 'footer.html.twig' %}

<script>
    let activeImg = document.querySelector(".thumbnails .thumbnail-container.active img");

    let mainImg = document.querySelector(".main-img img");
    document.querySelectorAll(".thumbnails img").forEach(function(img){
        img.addEventListener("click", function(){
            if(!this.parentNode.classList.contains("active")){
                activeImg.parentNode.classList.remove("active");
                this.parentNode.classList.add("active");
                activeImg = this;
                mainImg.setAttribute("src", activeImg.src);
        }});
    });

let favoriteCar = document.querySelectorAll(".car .favorite i");

favoriteCar.forEach(function(car){
	
    car.addEventListener("click", function(){
        let carId = this.parentNode.nextElementSibling.value;
		if(this.classList.contains("active")){
			this.classList.add("fi-rr-heart");
			this.classList.remove("fi-ss-heart");
			this.classList.remove("active");
            fetch("/favorite", {
					method: "DELETE",
					headers: {
							"Content-Type": "application/json",
					},
					body:JSON.stringify({id : carId})
			})
			.then((response) => {
					if (!response.ok) {
							throw new Error("Network response was not ok");
					}
					return response.text();
			});
		}
		else{
			this.classList.remove("fi-rr-heart");
			this.classList.add("fi-ss-heart");
			this.classList.add("active");
            fetch("/favorite", {
					method: "POST",
					headers: {
							"Content-Type": "application/json",
					},
					body:JSON.stringify({id : carId})
			})
			.then((response) => {
					if (!response.ok) {
							throw new Error("Network response was not ok");
					}
					return response.text();
			});
		}
	});
});

let car = document.querySelector(".car-description .car-name .favorite i");

let carId = car.parentNode.nextElementSibling.value;

car.addEventListener("click", function(){

    if(this.classList.contains("active")){
        this.classList.add("fi-rr-heart");
        this.classList.remove("fi-sr-heart");
        this.classList.remove("active");
        fetch("/favorite", {
                method: "DELETE",
                headers: {
                        "Content-Type": "application/json",
                },
                body:JSON.stringify({id : carId})
        })
        .then((response) => {
                if (!response.ok) {
                        throw new Error("Network response was not ok");
                }
                return response.text();
        });
    }
    else{
        this.classList.remove("fi-rr-heart");
        this.classList.add("fi-sr-heart");
        this.classList.add("active");

        fetch("/favorite", {
                method: "POST",
                headers: {
                        "Content-Type": "application/json",
                },
                body:JSON.stringify({id : carId})
        })
        .then((response) => {
                if (!response.ok) {
                        throw new Error("Network response was not ok");
                }
                return response.text();
        });
    }

});

{# document.addEventListener('DOMContentLoaded', () => {
    const leftButton = document.querySelector('.left-button');
    const rightButton = document.querySelector('.right-button');
    const row = document.querySelector('.thumbnails .row');
    const thumbnailContainers = row.querySelectorAll('.col-lg-4');

    // Variables for tracking the scroll position
    let scrollAmount = 0;
    const scrollStep = 150; // Adjust this value for how much the thumbnails move

    // Event Listener for the Left Button
    leftButton.addEventListener('click', () => {
        // Move the thumbnails to the right (scroll left)
        scrollAmount = Math.max(0, scrollAmount - scrollStep);
        row.style.transform = `translateX(-${scrollAmount}px)`;
        row.style.transition = 'transform 0.3s ease-in-out';
    });

    // Event Listener for the Right Button
    rightButton.addEventListener('click', () => {
        // Move the thumbnails to the left (scroll right)
        const maxScroll = row.scrollWidth - row.clientWidth;
        scrollAmount = Math.min(maxScroll, scrollAmount + scrollStep);
        row.style.transform = `translateX(-${scrollAmount}px)`;
        row.style.transition = 'transform 0.3s ease-in-out';
    });
});

document.addEventListener('DOMContentLoaded', () => {
    const leftButton = document.querySelector('.left-button');
    const rightButton = document.querySelector('.right-button');
    const row = document.querySelector('.thumbnails .row');
    const thumbnailContainers = row.querySelectorAll('.col-lg-4');

    let scrollAmount = 0;
    const scrollStep = 200; // Adjust this value for how much the thumbnails move
    const visibleWidth = row.parentElement.offsetWidth; // The width of the visible area
    const totalWidth = Array.from(thumbnailContainers).reduce((sum, item) => sum + item.offsetWidth, 0); // Total width of thumbnails
    const maxScroll = Math.max(0, totalWidth - visibleWidth); // Calculate the maximum scroll position

    // Event Listener for the Left Button
    leftButton.addEventListener('click', () => {
        if (scrollAmount > 0) {
            scrollAmount = Math.max(0, scrollAmount - scrollStep);
            row.style.transform = `translateX(-${scrollAmount}px)`;
            row.style.transition = 'transform 0.3s ease-in-out';
        }
    });

    // Event Listener for the Right Button
    rightButton.addEventListener('click', () => {
        if (scrollAmount < maxScroll) {
            scrollAmount = Math.min(maxScroll, scrollAmount + scrollStep);
            row.style.transform = `translateX(-${scrollAmount}px)`;
            row.style.transition = 'transform 0.3s ease-in-out';
        }
    });
}); #}


document.addEventListener('DOMContentLoaded', () => {
    const leftButton = document.querySelector('.left-button');
    const rightButton = document.querySelector('.right-button');
    const row = document.querySelector('.thumbnails .row');
    const thumbnailContainers = row.querySelectorAll('.col-lg-4');

    if (thumbnailContainers.length === 0) {
        console.warn("No images found for the slider.");
        return; // Exit if no images are present
    }

    // Variables for tracking the scroll position
    let scrollAmount = 0;
    const scrollStep = 150; // Adjust this value for how much the thumbnails move
    const visibleWidth = row.parentElement.offsetWidth; // The width of the visible area
    const totalWidth = Array.from(thumbnailContainers).reduce((sum, item) => sum + item.offsetWidth, 0); // Total width of thumbnails
    const maxScroll = Math.max(0, totalWidth - visibleWidth); // Calculate the maximum scroll position

    // Event Listener for the Left Button
    leftButton.addEventListener('click', () => {
        if (scrollAmount > 0) {
            scrollAmount = Math.max(0, scrollAmount - scrollStep);
            row.style.transform = `translateX(-${scrollAmount}px)`;
            row.style.transition = 'transform 0.3s ease-in-out';
        }
    });

    // Event Listener for the Right Button
    rightButton.addEventListener('click', () => {
        if (scrollAmount < maxScroll) {
            scrollAmount = Math.min(maxScroll, scrollAmount + scrollStep);
            row.style.transform = `translateX(-${scrollAmount}px)`;
            row.style.transition = 'transform 0.3s ease-in-out';
        }
    });
});


document.querySelector(".form-review").addEventListener("submit", function(e) {
    e.preventDefault(); // Prevent the default form submission behavior

    let fullname = document.getElementById("fullname").value;
    let review = document.getElementById("review").value;
    let carId = document.getElementById("carid").value;

    fetch("/review", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ fullname, review, carId })
    })
    .then(resp => {
        if(resp.status === 200){
            let container = document.querySelector(".add-review");
            let p = document.createElement("p");
            p.textContent = "Thank you for your review !";
            container.innerHTML = "";
            container.appendChild(p);

        }
        return;
    });
});


</script>
{% endblock %}
