<h1>Payment Confirmation</h1>

<p>Dear {{name}}</p>
<p>Thank you for your payment. Your payment has been successfully processed on {{ date|date('Y-m-d H:i:s') }}.</p>
	
<h2>Payment Details</h2>
	<div class="details">
		<p>Car name : {{car.name}}</p>
		<p>Days : {{days}}</p>
		<p>Total : {{amount}}</p>
	</div>

<p>Thank you for your business!</p>
