<div class="sidebar">
	<div class="side-item">
		<span>Main Menu</span>
		<ul>
			<li class="{{ app.request.attributes.get('_route') == 'app_admin' ? 'active' : '' }}">
				<a href="{{ path('app_admin') }}">
					<i class="fi fi-rr-house-blank"></i>Dashboard
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_car_list' ? 'active' : '' }}">
				<a href="{{ path('app_car_list') }}">
					<i class="fi fi-rr-car-side"></i>Car
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_insight' ? 'active' : '' }}">
				<a href="{{ path('app_insight') }}">
					<i class="fi fi-rr-stats"></i>Insight
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_transaction' ? 'active' : '' }}">
				<a href="{{ path('app_transaction') }}">
					<i class="fi fi-rr-transaction-euro"></i>Transaction
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_admin_promo_code' ? 'active' : '' }}">
				<a href="{{ path('app_admin_promo_code') }}">
					<i class="fi fi-rr-ticket"></i>Promo Code
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_reimburse' ? 'active' : '' }}">
				<a href="{{ path('app_reimburse') }}">
					<i class="fi fi-rr-refund-alt"></i>Reimburse
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_inbox' ? 'active' : '' }}">
				<a href="{{ path('app_inbox') }}">
					<i class="fi fi-rr-comment-alt-dots"></i>Inbox
				</a>
			</li>
			<li class="{{ app.request.attributes.get('_route') == 'app_calendar' ? 'active' : '' }}">
				<a href="{{ path('app_calendar') }}">
					<i class="fi fi-rr-calendar-days"></i>Calendar
				</a>
			</li>
		</ul>
	</div>

	<div class="side-item">
		<span>Preferences</span>
		<ul>
			<li class="{{ app.request.attributes.get('_route') == 'app_admin_settings' ? 'active' : '' }}"><a href="{{path("app_admin_settings")}}"><i class="fi fi-tc-settings"></i>Settings</a></li>
			<li><a href="#"><i class="fi fi-rr-info"></i>Help Center</a></li>
			<li><a href="#"><i class="fi fi-ts-dark-mode-alt"></i>Dark Mode</a></li>
		</ul>
	</div>

	<div class="side-item">
		<ul>
			<li><a href="{{path("app_logout")}}"><i class="fi fi-rr-sign-out-alt"></i>Log Out</a></li>
		</ul>
	</div>

</div>



<script>

const eventSource = new EventSource("{{ mercure('https://localhost:8000/notify')|escape('js') }}");

        eventSource.onmessage = event => {
	        let data = JSON.parse(event.data);
            let div = document.createElement("div");
            let notifAlert = document.querySelector(".notification-alert");
            div.innerText = data.message;
            div.classList.add("notification-message");
            notifAlert.appendChild(div);
            notifAlert.style.right = "30px";
            setTimeout(function(){
                div.remove();
                notifAlert.style.right = "-300px";
            }, 10000);
    	}

</script>