{% if cars %}
	{% for car in cars %}
		<div class="col-lg-4">
			<div class="car">
				<div class="car-name d-flex justify-content-between">
					<div class="name">
						<h3>{{car.name}}</h3>
						<span>{{car.type}}</span>
					</div>
					<div class="favorite">
						{% set found = false %}
							{% for favorite in favoriteCarUser %}
								{% if favorite.car.id == car.id %}
									{% set found = true %}
								{% endif %}
							{% endfor %}
						
							{% if found %}
								<i class="fi fi-sr-heart active"></i>
							{% else %}
								<i class="fi fi-rr-heart"></i>
						{% endif %}
					</div>
					<input type="hidden" name="car_id" value={{car.id}}>
				</div>
				<div class="group">
					<div class="car-img">
						<img src={{car.img}} alt="{{car.name}} car image."/>
					</div>

					<div class="options d-flex">
						<div class="litres"><i class="fi fi-rr-gas-pump"></i>{{car.gasoline}}L</div>
						<div class="gear"><i class="fi fi-rr-tire"></i> {{car.steering}}</div>
						<div class="seats"><i class="fi fi-rr-seat-airline"></i> {{car.capacity}} People</div>
					</div>
				</div>


				<div class="rent-price d-flex align-items-center justify-content-between">
					<div class="price">${{car.price}}.00/
						<span>day</span>
					</div>
					<div class="rent-btn">
						<a href="/car/{{car.id}}">Rent Now</a>
					</div>
				</div>

			</div>


		</div>
	{% endfor %}
{% else %}
	<p>No cars match your criteria.</p>
{% endif %}